{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    {% tailwind_css %}
    <title>{% block title %}default title{% endblock title %}</title>
  </head>
  <body class="bg-yellow-100">
    <header>
      <h1 class="text-orange-500 text-3xl">{% block header %}default header{% endblock header %}</h1>
    </header>
    <nav class="bg-red-800">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'menu_items_view' %}">Search by Item</a></li>
      </ul>
    </nav>
    <main>
      <h2>{% block subheading %}default subheading{% endblock %}</h2>
      <p>{% block content %}default content{% endblock %}</p>
    </main>
    <footer>
      <p>&copy; 2025 My Website</p>
    </footer>
  </body>
</html>
